@page "{cafeId:int}"
@model OdeToFood.Pages.CoffeeShops.DetailModel


@if(Model.Message != null)
{
<div class="alert alert-success text-center font-weight-bold">@Model.Message</div>
}


<h2>@Model.Cafe.Name</h2>

<div>
    Id: @Model.Cafe.Id
</div>
<div>
    Location: @Model.Cafe.Location
</div>

<div>
    Type: @Model.Cafe.Type
</div>



<hr />
<a asp-page="./List">All Cafes</a>